@import "vars";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  //используется во всех проектах//
  font-family: $main-font;
  font-weight: 400;
}
